@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300&family=PT+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
}
.main-container{
    background-image: url(../public/cdeluchi.png) ;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.main-container h2{
    display: flex;
    justify-content: left;
    align-items: left;
    padding: 100px;
    color: white;
    font-family: "aleo", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
}
.main-content h1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 50px 0 20px 50px;
    color: white;
    font-family: "aleo", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}
.main-content p{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 50px 30px 50px;
    color: white;
    font-family: "aleo", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}
.main-content button{
    padding: 20px;
    margin: 20px 0 0 50px;
    font-family: "aleo", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-stretch: expanded;
    border-radius: 5px;

}
.main-content{
    margin: 50px;
}

/* about page */
.about-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: grey;
    color: honeydew;
}
.grid-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.grid-left h2{
    margin: 20px;
    padding: 20px;
    font-family: "aleo",Verdana, Geneva, Tahoma, sans-serif;
}
.grid-left h1{
    margin: 20px;
    padding: 20px;
    font-family: "aleo",Verdana, Geneva, Tahoma, sans-serif;
}
.grid-right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.grid-right p{
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    font-family: "aleo",Verdana, Geneva, Tahoma, sans-serif;
}
.grid-right button{
    padding: 20px;
    border-radius: 5px;
    border: solid 2px black;
    font-family: "aleo",Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

/* portfolio-container */
.portfolio-container{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}
.img1,
.img2,
.img3,
.img4,
.img5,
.img6,
.img7,
.img8{
    width: 60%;
    height: 350px;
    margin: 100px;
    margin-bottom: 100px;
    border: solid 2px cadetblue;
    background-image: url(../public/cdeluchi.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* To do page */

.todo-container{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 25% 25%;
    background: grey;
    color: honeydew;
    font-family:"aleo", Verdana, Geneva, Tahoma, sans-serif;
}
.todo-what{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo1,
.todo2,
.todo3,
.todo4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
   
}

/* contact page */

.contact-container{
    background-image: url(../public/contact-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.h2-contact{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    padding: 100px;
    color: honeydew;
    font-family:"aleo", Verdana, Geneva, Tahoma, sans-serif;
    
}
.contact-personal{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    color: honeydew;
    font-family:"aleo", Verdana, Geneva, Tahoma, sans-serif;
    padding: 100px;
    background-color: azure;
    color: rgb(29, 28, 28);
    width: 500px;
    height: 100px;
    
}
.contact-personal h1, p {
    padding: 10px;
}
.contact-media{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    font-family:"aleo", Verdana, Geneva, Tahoma, sans-serif;
    padding: 100px;
    background-color: rgb(29, 28, 28);
    color: azure;
    width: 500px;
    height: 100px;
}
.contact-media h1, p {
    padding: 10px;
}